<style>
  h1 {
    color: yellow;
  }
  #my-color {
      color: orange;
    }

    .my-h1-color {
      color: blue;
    }

    img {
        width: 400;
        height: 210;
    }

    #bottom-div{
      height:1em;
      background-color:yellow;
      margin:0;
      width:100%;
      position: fixed;
      left:0;
      bottom: 0;
      text-align:center;
    }

</style>
